extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/", method="post")
    label(for="lead_email") Email: 
    input#email(type="email", name="lead_email", placeholder="you@email.com")
    input(type="submit", value="Submit")
  if leads
    for lead in leads
      p 
        span #{lead.email}
        | 
        a(href="/lead/"+ lead.id) View Details