extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/", method="post")
    label(for="email") Email: 
    input#email(type="email", name="email", placeholder="you@email.com")
    input(type="submit", value="Submit")