doctype html
html(lang='en')
  include common/head.pug 
  +head("Leadr - Find and save leads")
  body
    header
      include common/navbar.pug
      +navbar(user)
      .container.p-2
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-sm-5
            h1.mb-3 Sales Leads
            p.lead Collect sales leads to help your business grow.
            form(action="/", method="post").form-inline
              .form-group.mb-3.ml-sm-5.ml-md-0
                label(for="lead_email").sr-only Email
                input#lead_email(type="email", name="lead_email", placeholder="lead@email.com").form-control.mr-2
                button(type="submit").btn.btn-primary Save a Lead