doctype html
html(lang='en')
  include common/head.pug 
  +head("Lead")

  body
    h1 Lead 
    p 
      span #{lead.email}
      |
      a(href=`/leads/${lead.id}/edit`)  Edit Lead
      form(action=`/leads/${lead.id}/delete`, method="post")
        button(type="submit") Delete
    include common/footer.pug
    +footer()