doctype html
html(lang='en')
  include ../common/head.pug 
  +head("Edit Lead")

  body
    include ../common/navbar.pug
    +navbar()
    .container-fluid
    h1 Edit Lead
    p Edit your lead below
    form(action=`/leads/${lead.id}/edit`, method="post")
      label(for="lead_email") Email: 
      input#email(type="email", name="lead_email", value=lead.email)
      button(type="submit") Save
    include ../common/footer.pug
    +footer()